.input-group-text {
    background: white;
}

.exact {
    background: rgb(73, 107, 73)
}

.close {
    background: rgb(174, 179, 81)
}

.over {
    background: rgb(129, 32, 32)
}

.input-group .input-group-text {
    width: 65px
}

.spacer {
    -ms-flex: 0 0 65px;
    flex: 0 0 65px;
}